@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lexend+Giga:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Indie+Flower&family=Lexend+Giga:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cabin+Sketch:wght@400;700&family=Indie+Flower&family=Lexend+Giga:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
}

nav img{
    border-radius: 50%;
    width: 45%;
    height: 45%;
}

nav a{
    font-family: Lexend Giga;
    color: rgb(223, 223, 223);
}

iframe{
    padding: 60px;
}

.telefone{
    text-decoration: none;
    color: white;
}

.efeito-iframe-maps{
    padding: 5px;
}

.img-proximos{
    width: 100%;
    height: auto;
}

.google-calendar {
    position: relative; 
    z-index: 10; 
}

.calendar-container{
    padding: 90px;
}

.efeito-logo, .efeito-subtitle, .efeito-texto, .efeito-title, .slider-a, .efeito-subtitle-localization,
.efeito-title-agenda, .efeito-iframe-maps, .img-proximos, .c, .efeito-imagem01, .efeito-subtitle-quemsomos,
.efeito-texto01, .efeito-title-galery, .galery{
    visibility: hidden;
}

.nav-link:hover{
    color: #e69232;
    transition: 0.6s;
}

.dropdown-item:hover{
    color: #e69232;
    transition: 0.6s;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    padding: auto;
}

main{
    display: block;
    background-color: white;
}

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: small;
}

.container{
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 0 20px;
}

.container.galery{
    max-width: 1100px;
}

@media (min-width: 900px){
    .container.container-01{
        display: flex;
        max-width: 1200px;
        gap: 3em;
    }
}

section .box img{
    border-radius: 15px;
    width: 300px;
    height: auto;
}

section .box{
    display: flex;
}

.contatos-imagem{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    font-weight: bold;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module.parallax .container{
    width: 100%;
}

section.module.parallax .container img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

section.module.parallax h1{
    font-family: Cabin Sketch;
    color: white;
    text-align: center;
    font-size: 80px;
    z-index: 50;
    text-transform: uppercase;
    padding: 30px;
}

@media (max-width: 900px){
    section.module.parallax h1{
        color: white;
        text-align: center;
        font-size: 35px;
        z-index: 50;
        text-transform: uppercase;
    }
}

section.module h2{
    font-family: Indie Flower;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 40px;
}

@media (max-width: 900px){
    section.module h2{
        margin-bottom: 40px;
        font-size: 35px;
    }
}

section.module p{
    font-family: Red Hat Display;
    margin-bottom: 40px;
    font-size: 20px;
}

section.module.content{
    padding: 40px 0;
    background: #e69232;
}

.localImg{
    width: 60px;
    height: 60px;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000000be 100%);
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000000be 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000000be 100%);;
}  

section.module.parallax-1{
    background-image: url(../img/imagem-patio.jpg);
}

section.module.parallax-2{
    background-image: url(../img/imagem-dek-01.jpg);
}

section.module.parallax-3{
    background-image: url(../img/imagem-cadeiras-garagem.jpg);
}

section.module.parallax-4{
    background-image: url(../img/imagem-patio-02.jpg);
}

section.module.parallax-5{
    background-image: url(../img/imagem-patio.jpg);
}
