@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
}

nav img{
    border-radius: 50%;
    width: 25%;
    height: 256%;
}

.img-proximos{
    width: 100%;
    height: auto;
}

.google-calendar {
    position: relative; 
    z-index: 10; 
}

nav a{
    font-family: Lexend Giga;
    color: rgb(223, 223, 223);
}

iframe{
    padding: 60px;
}

.calendar-container{
    padding: 90px;
}

.efeito-logo, .efeito-subtitle, .efeito-texto, .efeito-title, .slider-a, .efeito-subtitle-localização,
.efeito-title-agenda, .efeito-iframe-maps, .img-proximos, .c{
    visibility: hidden;
}

.nav-link:hover{
    color: #e69232;
    transition: 0.8s;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    padding: auto;
}

main{
    display: block;
    background-color: white;
}

.container{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20px;
}

.contatos-imagem{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    font-weight: bold;
}

section.module p{
    margin-bottom: 40px;
    font-size: 20px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module.parallax .container{
    width: 100%;
}

section.module.parallax .container img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

section.module.parallax h1{
    color: white;
    text-align: center;
    font-size: 60px;
    z-index: 50;
    text-transform: uppercase;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background: #e69232;
}

.localImg{
    width: 60px;
    height: 60px;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000000be 100%);
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000000be 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000000be 100%);;
}  

section.module.parallax-1{
    background-image: url(../img/imagem-patio.jpg);
}

section.module.parallax-2{
    background-image: url(../img/imagem-dek-01.jpg);
}

section.module.parallax-3{
    background-image: url(../img/imagem-cadeiras-garagem.jpg);
}

section.module.parallax-4{
    background-image: url(../img/imagem-patio-02.jpg);
}

section.module.parallax-5{
    background-image: url(../img/imagem-patio.jpg);
}

section.module.parallax-3 h1{
    font-size: 45px;
}

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: small;
}

section.slider{
    background-color: #e69232;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

section .slider-title{
    color: black;
    font-size: 50px;
}

section .slider-a{
    text-decoration: none;
    color: black;
    font-size: 35px;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    max-width: 1150px;
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #000000;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #000000;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}
