body {
    background-image: url(./img/WhatsApp\ Image\ 2025-01-20\ at\ 20.00.35\ \(2\).jpeg);
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;

}
.ul {        text-align: left;
        text-decoration: none;
}